{% extends 'base.html' %}

{% block title %}Account Creation{% endblock %}

{% block body %}

<h2 align="center">Create an Account</h2>
<form action="/useraccounts" method='POST'method='GET'>
  <div align="center" class="form-group">
    <p>
        Username <input type="text" name="username">
    </p>
    
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="password" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
   </div>
</form>

</br>
</br>
<div class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081')">
<!-- Put anything you want here! There is just a spacer below for demo purposes!-->
    <div style="height: 200px"></div>
</div>


{% endblock %}