
{% extends 'base.html' %}

{% block title %}Coupon Search{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col">
        <h2>Search for Coupons</h2>
  
        <form method="GET" action="/coupon/search" >
          <div class="form-group">
            <label for="search-category">Search Category</label>
          </br>
          </br>
          </br>
          </br>
            <input
              id="search-categories"
              class="form-control"
              type="text"
              name="categories"
            >
          </div>
        </br>
        </br>
          <input type="submit" value="Look for Coupons!" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}