{% extends 'base.html' %}
{% block title %}Couponista Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col">
        <h2>Search for Coupons</h2>
  
        <form method="GET" action="/coupon_search">
          <div class="form-group">
            <label for="search-keyword">Search Keyword</label>
          </br>
          </br>
            <small class="form-text text-muted">
              Leave this blank to get all Coupons!
            </small>
          </br>
          </br>
            <input
              id="search-keyword"
              class="form-control"
              type="text"
              name="keyword"
            >
          </div>
        </br>
        </br>
          <input type="submit" value="Look for Coupons!" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}