
{% extends 'base.html' %}

{% block title %}Coupon Search{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col">
        <h2>Search for Coupons</h2>
  
        <form method="GET" action="/coupon_search" >
          <div class="form-group">
            <label for="search-category">Search Category</label>
          </br>
          </br>
          </br>
          </br>
            <input
              id="search-categories"
              class="form-control"
              type="text"
              name="categories"
            >
          </div>
        </br>
        </br>
          <input type="submit" value="Look for Coupons!" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>

</br>
</br>
<div class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081')">
<!-- Put anything you want here! There is just a spacer below for demo purposes!-->
    <div style="height: 200px"></div>
</div>

{% endblock %}