{% extends 'base.html' %}
{% block title %}Couponista Home{% endblock %}

{% block body %}

  <h1 align = "center">Welcome to Couponista!</h1>

  <h2 align = "center">Here to meet all your coupon needs.</h2>
</br>
</br>

  <h4 align = "center"><a href="/coupon">Search Coupons</a></h4>
  <h4 align = "center"><a href='/account_creation'>Create Account</a></h4>

</br>
</br>

  <div class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081')">
  <!-- Put anything you want here! There is just a spacer below for demo purposes!-->
  <div style="height: 200px"></div>
  </div>
{% endblock %}